@model NoteApp.Model.UserPasswordModel

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    using (Html.BeginForm("UpdatePassword", "User"))
    {
        <div class="row">
            <div class="col-md-6 col-sm-4 col-xs-4">
                @Html.LabelFor(m => m.Mail, new { @class = "control-label", @style = "border:none;padding:6px 12px;" })
            </div>

            <div class="col-md-6 col-sm-8 col-xs-8">
                @Html.TextBoxFor(m => m.Mail, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Mail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-4 col-xs-4">
                @Html.LabelFor(m => m.Password, new { @class = "control-label", @style = "border:none;padding:6px 12px;" })
            </div>

            <div class="col-md-6 col-sm-8 col-xs-8">
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-4 col-xs-4">
                @Html.LabelFor(m => m.PasswordAgain, new { @class = "control-label", @style = "border:none;padding:6px 12px;" })
            </div>

            <div class="col-md-6 col-sm-8 col-xs-8">
                @Html.TextBoxFor(m => m.PasswordAgain, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PasswordAgain, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-4 col-xs-4">
                <input type="submit" name="name" value="Kaydet" />
            </div>

            <div class="col-md-6 col-sm-8 col-xs-8">
            </div>
        </div>
    }
}